body {
    background-color: rgb(68, 120, 234);
}

.card {
    height: 25rem;
    margin-bottom: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

.cardContainer {
    border-radius: 20px;
    overflow: hidden;
    height: 25rem;
    margin-bottom: 2rem;
    border: solid 1px black;
}

img {
    aspect-ratio: 1;
}